*{
    margin: 0;
    padding: 0;
}
div#pai{
    width: 95%;
    height: 30px;
    left: 10px;
    margin: 30px;
    border: 1px solid black;
    background-color: #212121;
    position: absoluto;
    
}
div#filha{
    width: 5%;
    height: 8px;
    padding: 8px;
    margin: 5px;
    border: 1px solid black;
    background-color: #F9A825;
    position: relative;
    right: 300px;    
}


h1 { width:100%;
    height: 10px;
    color:#fff;
    margin-left:80px;
    margin-right: 100px;
    padding: 8px;
    font-family: helvetica;
    font-size: 20px;
}
h2{
    width:8%;
    height: 20px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    padding: 0;
    margin-right: 100px;     
}

